<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <queries><package android:name="com.tencent.mm" /><package android:name="org.lsposed.manager" /></queries>
    <application android:label="宿舍 · 锁定" android:icon="@drawable/ic_lock"
        android:theme="@android:style/Theme.Material.NoActionBar" android:allowBackup="false"
        android:supportsRtl="true">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="猛鬼宿舍 · 本机资源锁定" />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".FloatingService" android:exported="false" android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="User-started floating game resource controls" />
        </service>
        <provider android:name=".BridgeProvider" android:authorities="io.github.mgss.lock.bridge" android:exported="true" />
    </application>
</manifest>
